
html {

background: url(images/earth.jpg) no-repeat center center fixed;
background-size: cover;

}

#top-heading {
	color: white;
	font-size: 45px;
    font-family: 'Tillana', cursive;
	text-align: center;
	margin-top: 20px;
}


#Find {

	font-size: 55px;
	 font-family: 'Tillana', cursive;
	text-align: center;
	text-decoration: none;
 
}

#Findholder {
	text-align: center;
	margin-top: 350px;